{% extends "base.html" %}

{% load humanize %}

{% block contents %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
                <th scope="col">Unit price</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <th scope="row">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="img-thumbnail">
                    </a>
                </th>
                <td>{{ product.name }}</td>
                <td>
                    <form action="/cart/add/{{ product.id }}/" method="post">
                        {{ item.quantity_form.quantity }}
                        {{ item.quantity_form.is_update }}
                        <input type="submit" class="btn btn-primary" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td><a href="/cart/remove/{{ product.id }}/">Remove</a></td>
                <td class="num">$ {{ item.price|intcomma }}</td>
                <td class="num">$ {{ item.total_price|intcomma }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">$ {{ cart.get_total_price|intcomma }}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <a href='/' class="btn btn-secondary">메인으로</a>
        <a href='/product/' class="btn btn-secondary">목록으로</a>
        <form action="/order/create/" method="post" class="mt-3">{% csrf_token %}
            <!-- hidden field 추가-->
            <input type="hidden" name="email" value="{{ request.session.user }}">
            <input type="submit" class="btn btn-primary float-right" value="주문하기">
        </form>
    </div>
{% endblock %}