{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
	<div class="col-12">Hello! {{ email }}</div>
</div>
<div class="row mt-5">
	{% if email %}
	<div class="col-12">
		<a href="/logout/" class="btn btn-block btn-primary">로그아웃</a>
	</div>
	{% else %}
	<div class="col-6">
		<a href="/login/" class="btn btn-block btn-primary">로그인</a>
	</div>
	<div class="col-6">
		<a href="/register/" class="btn btn-block btn-primary">회원가입</a>
	</div>
	{% endif %}
</div>
<div class="row mt-5">
	<div class="col-4">
		<a href="/product/" class="btn btn-block btn-dark">상품목록</a>
	</div>
	<div class="col-4">
		<a href="/product/create/" class="btn btn-block btn-dark">상품추가</a>
	</div>
	<div class="col-4">
		<a href="/order/" class="btn btn-block btn-dark">내 주문목록</a>
	</div>
</div>
<div class="row mt-5">
	<div class="col-12 text-center">
		<p>** 상품추가는 회원가입된 사용자의 level 이 사이트 운영자에 의해 "admin" 으로 설정되어야 이용할 수 있습니다. **</p>
	</div>
</div>
{% endblock %}